table {
	border: 1px solid black;
}

th {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
td {
	background-color: red;
}

.on {
	background-color: #33CC33;
}

.no {
	background-color: #FF0000;
}

#head {
	margin-left: 130px;
}