table {
	border: 1px solid black;
}

th, td {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.on {
	background-color: #33CC33;
}

.no {
	background-color: #FF0000;
}

#head {
	margin-left: 130px;
}